<app-nav></app-nav>

<br>
<br>
<div class="container align-content-center border p-5 shadow" >
  <h2 *ngIf="!editing">Nuevo usuario</h2>
  <h2 *ngIf="editing">Modificar usuario</h2>
  <div class="form-group">
    <label>Nombre</label>
    <input [(ngModel)]="user.name" type="text" class="form-control"   placeholder="Pepe Martín" required="required">
  </div>

  <div class="form-group">
    <label>NickName </label>
    <input [(ngModel)]="user.nickName" type="text" class="form-control"   placeholder="pepe23" required="required">
  </div>

  <div class="form-group">
    <label>Email </label>
    <input [(ngModel)]="user.email" type="email" class="form-control"  placeholder="pepito@mail.com" required="required">
  </div>

  <div class="form-group">
    <label>Password</label>
    <input [(ngModel)]="user.password" type="text" class="form-control" placeholder="***********" required="required">
  </div>

  <div class="form-group">
    <label>Rol</label>
    <select [(ngModel)]="user.role_id" class="form-control">
      <option value="3">Estandar</option>
      <option value="2">Pro</option>
      <option value="1">Admin</option>
    </select>
  </div>

  <div class="form-group">
    <label>Biografía</label>
    <textarea [(ngModel)]="user.biography" class="form-control"   placeholder="Fotógrafo aficionado a las papayas"></textarea>
  </div>

  <div class="form-group">
    <label>Teléfono</label>
    <input [(ngModel)]="user.telephone" type="text" class="form-control"   placeholder="Teléfono">
  </div>

  <div class="form-group">
    <label>Foto de perfil</label>
    <input [(ngModel)]="user.photo" type="text" class="form-control"   placeholder="url del servidor">
  </div>
  <button *ngIf="!editing" (click)="register()" class="btn btn-primary ">Guardar nuevo usuario</button>
  <button *ngIf="editing" (click)="modify()" class="btn btn-primary ">Modificar usuario</button>
</div>
