
<app-nav></app-nav>
<div *ngIf="users && users.length != 0" class="container p-2" >
  <h3 class="float-left m-2">Usuarios</h3>
  <a class="btn btn-primary btn-sm m-2" routerLink="new">Nuevo usuario</a>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Rol</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td [ngClass]="{'text-danger': user.banned === 1, 'text-primary': user.role_id === 1}">{{user.id}}</td>
      <td [ngClass]="{'text-danger': user.banned === 1, 'text-primary': user.role_id === 1}">{{user.nickName}}</td>
      <td [ngClass]="{'text-danger': user.banned === 1, 'text-primary': user.role_id === 1}">{{user.email}}</td>
      <td [ngClass]="{'text-danger': user.banned === 1, 'text-primary': user.role_id === 1}">{{user.role_id}}</td>
      <td><a class="btn btn-primary btn-sm text-light" routerLink="/users/{{user.id}}">Ver/Editar</a></td>
      <td><a class="btn btn-primary btn-sm text-light" [ngClass]="{'btn-danger': user.banned === 0, 'btn-warning': user.banned === 1}"
             (click)="changeBannedState(user.id)">
        <div *ngIf="user.banned === 0">Bloquear</div>
        <div *ngIf="user.banned === 1">Desbloquear</div>
      </a></td>
    </tr>

    </tbody>
  </table>
  <h1 class="text-danger" *ngIf="users && users.length == 0">No hay usuarios</h1>

</div>
<div class="text-danger">{{error}}</div>


